# fly.toml app configuration file generated for minc2 on 2025-05-07T08:54:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'minc2'
primary_region = 'bom'

[build]

[http_service]
  internal_port = 7681
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
